
.list-group-item {
    border: none;
}

.split {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 10%;
}

.bottom_btns {
  margin-top: 30%;
}

/* Control the left side */
.left {
  position: absolute;
  margin-left: 5%;
  width: 60%;
  left: 0;
}

.movies {
  margin-top: 2%;
  margin-left: 2%;
}

/* Control the right side */
.right {
  position: absolute;
  margin-right: 5%;
  width: 5%;
  right: 0;
}